extends layout

block content
  //- h1= title
  h2 Edit Voice Transcription Real-Time
  p
    label.switch
      input#rec(type="checkbox")
      span.slider.round
    //- span &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    //- label.switch
    //-   input#tts(type="checkbox")
    //-   span.slider.round
  p
    div#editor
  
  div#commands
    div#cmdError
      button#cmd1 Sorry, I did not understand your instruction 
      button#cmd2 I could not find the words you mentioned 
      button#cmd3 Where should I do that?
      button#cmd4 Wait, I missed something. I will repeat the last sentence 
    div#cmdReqConfirm
      button#cmd5 Are you sure to delete?  
    div#cmdConfirm
      button#cmd6 Ok
      button#cmd7 Ok, I have deleted that
      button#cmd8 Working on it 
      button#cmd9 I will repeat the last recorded sentence

    

  script(type='text/javascript', src='/javascripts/test.js')