doctype html
html
  head
    title= title
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js")
    script(src="https://cdn.quilljs.com/1.3.6/quill.js")
    script(src="/javascripts/talkify.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://cdn.quilljs.com/1.3.6/quill.snow.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/talkify-audiocontrols.css')
    link(rel='stylesheet', href='/stylesheets/talkify-common.css')
    link(rel='stylesheet', href='/stylesheets/talkify-playlist.css')
    script(src="https://use.fontawesome.com/28b687dd3d.js")


    
  body
    //- script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    block content
